<div>
  <select id="genomebuilder">
    <option value="">Select genome </option>
    <option value="hg19">hg19</option>
    <option value="hg38">hg38</option>
    <option value="mm10">mm10</option>
  </select>
  or input
  <input type="text" id="customeGB" style="width:40px" />
  <button
    id="gbLinks"
    style="color: #fff; background-color: #3e5a43; border-color: #46b8da; border: 1px solid transparent;"
  >
    Switch to genome browser&nbsp;<span
      class="fas fa-external-link-alt"
      style="width:20px"
    ></span>
  </button>
</div>
